<table width="100%" cellpadding="10" cellspacing="10">
<tr><td align="left">{{ 'Dear'|t }} {{ name }}</td></tr>
<tr><td align="left">{{ 'You have subscribed successfullly for Govt Schemes India and you will get selected government scheme updates regularly'|t }}</td></tr>
<tr><td align="left">{{ 'Thanks and Regards'|t }} <br />{{ 'Govt Schemes India'|t }}</td></tr>
</table>