<table width="100%" cellpadding="10" cellspacing="10">
<tr><td align="left">{{ 'Dear'|t }} {{ name }}</td></tr>
<tr><td align="left">{{ 'Please click'|t }} <a href="{{ activation_link }}" target="_blank"> {{ 'here'|t }} </a> {{ 'to verify the email'|t }}</td></tr>
<tr><td align="left">{{ 'Thanks and Regards'|t }} <br />{{ 'Govt Schemes India'|t }}</td></tr>
</table>